<%- include('../common/head')%>
<body>
    <%- include('../common/header')%>

    <main>
        <div class="container">
            <div class="col col-md-12">
                <h2>This is the Contact Page</h2>
                <p>This is the Contact Body</p>
            </div>
        </div>
    </main>

    <%- include('../common/footer')%>
</body>
</html>